.flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 5px 15px;
    color: white;
    border: 1px solid white;
    background-color: var(--main-bg-color);
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    font-weight: bolder;
    border: 2px solid white;
}

.my-2 {
    margin: 21px 0;
}

.my-3 {
    margin: 3px 0;
}
.my-4{
    color: rgb(2, 131, 2);
}
.p-center {
    text-align: center;
}

.card h2 button{
    cursor: pointer;
}